<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#251B37" />
    <meta name="description" content="Website berisi rekomendasi restaurant di Indonesia.">
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&family=Source+Sans+Pro&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
    <link rel="manifest" href="./app.webmanifest" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>Makan Yuk!</title>
  </head>
  <body>
    <a href="#maincontent" class="skip-link">Skip to Content</a>
    <header>
      <h1>MakanYuk!</h1>
      <a id="hamburger" href="#" aria-label="navigation-menu">☰</a>
    </header>
    <nav id="drawer" class="nav">
      <div class="brand">
        <h1>MakanYuk!</h1>
      </div>
      <ul class="navList">
        <li class="navItem"><a href="/">Home</a></li>
        <li class="navItem"><a href="#/Favorite">Favorite</a></li>
        <li class="navItem"><a href="https://www.linkedin.com/in/mluqi10/">AboutUs</a></li>
      </ul>
    </nav>
    <hero-content></hero-content>
    <main id="maincontent" tabindex="0"></main>
    <footer-element></footer-element>
  </body>
</html>
